*{
    margin: 0;
    padding: 0;
}
.design{
    height: 100vh;
    width: 100%;
    background-color: rgb(50, 54, 47);
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: left;
}
#clock{
    width: 400px;
    height: 400px;
    background: aliceblue;
    border: 20px solid rgb(69, 59, 221);
    /* border-radius: 50%; */
    margin: 100px auto;
    position: relative;
    box-shadow:inset 0 5px 25px #00000080,
    0 5px 25px #00000080,
    0 5px 30px #00000080,
    0 5px 35px #00000080,
    0 5px 35px #00000080,
    0 5px 35px #00000080;
}
#clock::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: -20px;
    top: -10px;
    border: 20px solid #cccccc;
    /* border-radius: 50%; */
    z-index: -2;
}
#clock::after{
    content: "";
    width: 18px;
    height: 18px;
    background: #c7d8f8;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    box-shadow: 0 2px 4px #00000026;
}
#clock li{
    list-style: none;
    position: absolute;
}
.num{
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 5%;
    text-align: center;
}
.num span{
    display: block;
    color: black;
    font-size: 38px;
    text-shadow: 0 5px 18px #00000026,0 2px 3px #00000033;
}

.num:nth-child(1){
    transform: rotate(30deg);
}
.num:nth-child(1) span{
    transform: rotate(-30deg);
}

.num:nth-child(2){
    transform: rotate(60deg);
}
.num:nth-child(2) span{
    transform: rotate(-60deg);
}

.num:nth-child(3){
    transform: rotate(90deg);
}
.num:nth-child(3) span{
    transform: rotate(-90deg);
}

.num:nth-child(4){
    transform: rotate(120deg);
}
.num:nth-child(4) span{
    transform: rotate(-120deg);
}

.num:nth-child(5){
    transform: rotate(150deg);
}
.num:nth-child(5) span{
    transform: rotate(-150deg);
}

.num:nth-child(6){
    transform: rotate(180deg);
}
.num:nth-child(6) span{
    transform: rotate(-180deg);
}

.num:nth-child(7){
    transform: rotate(210deg);
}
.num:nth-child(7) span{
    transform: rotate(-210deg);
}

.num:nth-child(8){
    transform: rotate(240deg);
}
.num:nth-child(8) span{
    transform: rotate(-240deg);
}

.num:nth-child(9){
    transform: rotate(270deg);
}
.num:nth-child(9) span{
    transform: rotate(-270deg);
}

.num:nth-child(10){
    transform: rotate(300deg);
}
.num:nth-child(10) span{
    transform: rotate(-300deg);
}

.num:nth-child(11){
    transform: rotate(330deg);
}
.num:nth-child(11) span{
    transform: rotate(-330deg);
}

.num:nth-child(12){
    transform: rotate(360deg);
}
.num:nth-child(12) span{
    transform: rotate(-360deg);
}

#sec{
    width: 100%;
    height: 100%;
    animation: sec 60s steps(60, end) infinite;
}
#sec::after{
    content: "";
    width: 4px;
    height: 150px;
    border-radius: 2px;
    background:rgb(25, 116, 253);
    position: absolute;
    left: calc(50% - 2px);
    top: 65px;
    box-shadow: 1px 2px 3px #00000026;
}

#min{
    width: 100%;
    height: 100%;
    animation: sec 3600s steps(60, end) infinite;
}
#min::after{
    content: "";
    width: 9px;
    height: 110px;
    border-radius: 4px 4px 2px 2px;
    background:rgb(59, 179, 113);
    position: absolute;
    left: calc(50% + 30px);
    top: 31%;
    transform: rotate(-120deg);
    box-shadow: -1px 0 5px #00000026;
}

#hr{
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
}
#hr::after{
    content: "";
    width: 12px;
    height: 75px;
    border-radius: 6px 6px 3px 3px;
    background:salmon;
    position: absolute;
    left: calc(50% - 4px);
    top: 47%;
    box-shadow: 1px 0 4px #00000026;
}

@keyframes sec{
    to{
        transform: rotate(360deg);
    }
}