@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
  font-family: 'Noto Sans JP';
}
.navbar{
  width: 100%;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
}