* {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 230, 226);
  }
  
  /* Status of Seats */
  .status {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  .seats {
    margin: 30px 20px;
    text-align: center;
  }
  
  /* Styling all boxes */
  .container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .boxes {
    padding: 5px;
    border: 1px solid brown;
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(252, 101, 41);
  }
  
  .box {
    background-color: rgb(141, 46, 8);
    margin: 3px;
  }
  
  .box:hover {
    background-color: rgb(175, 77, 38);
    cursor: pointer;
  }
  
  .boxClicked {
    background-color: rgb(85, 0, 0);
  }