@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
  font-family: 'Noto Sans JP';
  background-color: aliceblue;
}
.App{
  text-align: center;
}

input{
  padding: 10px;
  margin: 10px;
  background-color: white;
}

button{
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: aliceblue;
}